@font-face {
  font-family: 'nunitoregular';
  src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
       url('../fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Variables
@import 'variables';

// Bootstrap
@import '~ant-design-vue/dist/antd.less';
