.table td {
  vertical-align: middle; }

.table th {
  vertical-align: middle; }

.table-bordeblue tbody tr td {
  border-color: #eeeeee;
  padding: 12px 20px; }

.table-bordeblue tbody tr th {
  border-color: #eeeeee;
  padding: 12px 20px; }

.table-bordeblue tfoot tr td {
  border-color: #eeeeee;
  padding: 12px 20px; }

.table-bordeblue tfoot tr th {
  border-color: #eeeeee;
  padding: 12px 20px; }

.table-bordeblue thead tr td {
  border-color: #eeeeee;
  padding: 12px 20px; }

.table-bordeblue thead tr th {
  border-color: #eeeeee;
  padding: 12px 20px; }