@font-face {
  font-weight:normal;
  font-style:normal;
  font-family:"summernote";
  src:url("../fonts/summernote.eot");
  src:url("../fonts/summernote.eot?#iefix") format("embedded-opentype"),
      url("../fonts/summernote.woff") format("woff"),
      url("../fonts/summernote.ttf") format("truetype");
}