

@primary-color: #1890ff;  
@link-color: #dc281e;

@import '~ant-design-vue/dist/antd.less';
@import 'helper/margin';
@import 'helper/padding';

.header-avtar .anticon {
    margin-right: 0px;
}

.bg-primary {
    background-color: @primary-color;
}

.h-100 {
    height: 100vh;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.bg-white {
    background-color: #fff;
}
.breadcrumb {
    margin: 1.2rem 1.3rem 0px;
}
.header-nav {
    float:right;
    line-height:64px;
    margin-right:10px;
}
.avored-admin-layout .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
.sidebar {
    background: #dc281e;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    position: fixed;
    left: 0;
}
.bg-transparent {
    background: transparent;
}
#avored-admin-layout .logo {
    background-image: url(/avored-admin/images/logo.svg);
    height: 64px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 15px;
    color: #fff;
    line-height: 64px;
    padding-left: 80px;
    font-size: 1.2rem;
}
.header-trigger {
    line-height: 64px;
}
