.admin-header {
.nav-link {
   color: $white;
    &:hover {
    color: #cccccc;
    }
  }
}

.bg-light {
  background-color: $white !important;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  display: inline-block;
  width: 155px;
  height: 40px;
  padding: 0px;
  margin-right: 0;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: left;
  text-indent: 60px;
}

aside {
  width: 225px;
  position: fixed;
  height: 100%;
  background: $primary; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $primary, lighten($primary, 5%), $primary); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $primary, lighten($primary, 5%), $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: hidden !important;
  padding-bottom: 20px;

  .brand-nav {

    font-size: 20px;
    color: $white;
    .logo {
      a {
        margin-left: 20px;
        text-decoration: none;
        color: $white;
      }
    }

    .nav-icon {
      padding-left: 20px;
      padding-right: 10px;
      margin: 20px 0px;
    }
  }

  .side-nav {
    margin: 0px;
    padding: 0px;

    .nav-item {
      width: 100%;

      .nav-link {
        line-height: 1.6;
        border-bottom: 1px solid #ccc;
        padding: 10px 20px;
        color: $white;
      }

    }

    .sub-nav {
      display: none;
    }
    .has-dropdown {

      .nav-link {
        line-height: 1.6;

        &:hover {
          background-color: lighten($primary, 5%);
        }
      }

      ul {
        margin: 0px;
        padding: 0px;
        //height: 0px;
        //visibility: hidden;

      }

    }
  }
}