.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}

.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.tag a:hover {
  opacity: 1.0
}

.tag .remove {
  vertical-align: bottom;
  top: 0;
}

.tag a {
  margin: 0 0 0 .3em;
}