body {
  background-color: $body-bg;
}

.main-content {
  margin-left: 225px;
}

.bg-site-color {
  background-color: $bg-site-color;
}

.bg-site-second-color {
  background-color: $bg-site-second-color;
}