body {
  background-color: $body-bg;
}

.main-content {
  margin-left: 225px;
}

.bg-site-color {
  background-color: $bg-site-color;
}

.bg-site-second-color {
  background-color: $bg-site-second-color;
}

.note-popover.note-table-popover.in.bottom,
.note-popover.note-image-popover.in.bottom,
.note-popover.note-link-popover.in.bottom {
  display:none;
}