.p-0 {
    padding: 0px;
}
.pt-1 {
    padding-top: 1rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pl-1 {
    padding-left: 1rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.ph-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.pv-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pb-0 {
    padding-bottom: 0px;
}
